DB_URL=jdbc:postgresql://localhost:5432/correos_uap
DB_USERNAME=postgres
DB_PASSWORD=postgres

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD=tu-clave-de-aplicacion
MAIL_FROM=tu-correo@gmail.com
MAIL_LOGO_URL=https://uap.edu.bo/wp-content/uploads/UAP-250px-1.png
